body {
    height: 100%;
    width: 100vw;
    text-align: center;
    background-color: rgb(245, 253, 249);
}

.app-title {
    font-family:'Courier New', Courier, monospace;
    line-height: 2px;
}

.websites-home-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    width: 250px;
    height: auto;
    background-color: rgb(33, 33, 33);
    border-radius: 5px;
    border: solid #555 1px;
    box-shadow: 0px 5px 20px 1px rgba(0, 0, 0, 0.859);
    margin: 15px;
    padding-bottom: 5px;
    text-align: left;
}

.card img {
    background-color: #555;
    width: 250px;
    height: auto;
    border-radius: 4px;
    border-bottom: #555 solid 1px;
}

.page-url,
.last-scan {
    margin: 5px;
    color: green;
}

a {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.last-scan {
    font-size: small;
}


